<html>
<head>
  <!-- Styles -->
  <link href="css/uploadfile.css" rel="stylesheet">
  <!-- jQuery -->
  <script type="text/javascript" src="jquery/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="jquery/jquery.uploadfile.min.js"></script>
  <script type="text/javascript" src="js/form.js"></script>
  <title>La Mareta</title>
</head>
<body topmargin="0" leftmargin="0">

  <%= yield %>

</body>
</html>
