<% if flash.has?(:notice) %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="flash-succes"><%= flash[:notice] %></h3>
  </div>
<% end %>

<div class="jumbotron">
  <h1 class="title_jumbotron">'La Mareta'</h1>
  <h3 class="subtitle_jumbotron">Actualizar base de datos</h3>
  <form action="/upload" method="post" enctype='multipart/form-data' class="form">
    <div class="input-group">
      <span class="input-group-btn">
      <span class="btn btn-primary btn-file">
            Examinar&hellip; 
        <input type="file" name='birthdayFile' accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
      </span>
      <span class="btn-submit">
        <input type='submit' value='Upload!' id="Upload_excel" class="btn btn-primary">
      </span>
      </span>
       <input type="text" class="form-control"  readonly>
    </div>
  </form>
</div>

<script type="text/javascript" src="/js/uploader.js"></script>
 
