
<div class="jumbotron">
  <h1 class="title_jumbotron">'La Mareta'</h1>
  <h3 class="subtitle_jumbotron">Actualizar base de datos</h3>
  <form action="/upload" method="post" enctype='multipart/form-data' class="form">
    <div class="input-group">
      <span class="input-group-btn">
      <span class="btn btn-primary btn-file">
            Examinar&hellip; 
        <input type="file" name='birthdayFile' accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
      </span>
      <span class="btn-submit">
        <input type='submit' value='Upload!' id="Upload_excel" class="btn btn-primary">
      </span>
      </span>
       <input type="text" class="form-control"  readonly>
    </div>

      <!-- <input type='submit' value='Upload!' id="Upload_excel" class="btn btn-primary"> -->
  </form>
</div>




<style>

  body {
    background-image: url(images/lamareta.png);
    background-size: cover;
  } 

  .jumbotron {
    width: 600px;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
  }

  .title_jumbotron {
    margin-top: 5px;
    text-align: center;
  }

  .subtitle_jumbotron {
    text-align: center;
  }

  .form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

 .btn-file {
     position: relative;
     overflow: hidden;
 }
 .btn-file input[type=file] {
     position: absolute;
     top: 0;
     right: 0;
     min-width: 100%;
     min-height: 100%;
     font-size: 100px;
     text-align: right;
     filter: alpha(opacity=0);
     opacity: 0;
     outline: none;
     background: white;
     cursor: inherit;
     display: block;
 }
 input[readonly] {
   background-color: white !important;
   cursor: text !important;
 }

 .input-group {
  width: 450px;
  margin-top: 25px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
 }
</style>

<script type="text/javascript" src="/js/uploader.js"></script>
 
