<h1>My file uploader!!</h1>
<form action="/upload" method="post" enctype='multipart/form-data'>
      <input type='file' name='birthdayFile' accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
      <input type='submit' value='Upload!'>
 </form>

 <a href="http://lamareta.herokuapp.com/sendinvitations">Send invitations</a>
